<div id='mobileBody'>
  <div id='navBar'>
    <div class='divLink ml-2 bRL'><a scrollTo href="#mobileHeader">Top</a></div>
    <div id='navSpacer'></div>
    <div class='divLink bL'><a scrollTo href="#aboutMe">About Me</a></div>
    <div class='divLink d-table d-sm-none mr-2 bR'><a scrollTo href="#draftChatHead">Projects</a></div>
    <div class='divLink d-none d-sm-table'><a scrollTo href="#draftChatHead">Project One</a></div>
    <div class='divLink d-none d-sm-table mr-2 bR'><a scrollTo href="#userDashHead">Project Two</a></div>
  </div>
  <div id='mobileHeader' class='text-center'>
    <div id='splashHeader'></div>
    <img src='../../assets/images/personalSquarePic.jpg' id='personalPic'>
  </div>
  <div class='spacerDiv'></div>
  <div class='row mb-4' id='aboutMe'>
    <div class='col-10 offset-1 offset-md-2 mt-3 col-md-6'>
      <h2>Overview: </h2>
      <p class='d-block mb-4'>I am a full stack developer whose background emphasizes communication and interpersonal skills. 
        I use online resources, teamwork and internal drive to accomplish tasks in the most efficient, 
        clean manner available. Prior to attending bootcamp I designed and coded a front-end website visited by 1000s, 
        even ran complex OOP simulations in Python; since then both my abilities and knowledge have grown 
        dramatically. Because of my love for algorithms and multifaceted complexity, I am seeking a back-end 
        or full-stack position. Ideally, this position would be as part of a small team – inside or out of a 
        larger company - with whom I could both develop and prove my skills.
      </p>
      <h2 class='mt-5'>Education:</h2>
      <div class='row mt-4'>
        <h4 class='col-12 text-center boldify'>Coding Dojo</h4>
        <p class='col-6 col-sm-4 offset-sm-2 text-left'>Web Development</p>
        <p class='col-6 col-sm-4 text-right'>Triple 'Black' Belt</p>
        <p><span class='boldify'>Coding Dojo </span>helped me to gain an unbelievable amount of knowledge in a shockingly short period of time. On average I coded in 14 hours per day during the week, and 4 hours on weekends every day for 15 weeks. Well over a thousand hours in addition to what I had learned previously. </p><br>
        <p><span class='boldify'>The curriculum </span> consists of ~200 unique and increasingly difficult whiteboarding sessions, dozens upon dozens of small projects leading up to 3-5 larger culminating projects each stack, 3 exams and 3 project weeks. </p><br>
        <p><span class='boldify'>Each exam </span>requires the student to complete a full stack application, simplified versions of IMDB, LinkedIn, etc. in 4.5 hours. Usually involving multiple SQL relationships, 4-5 unique pages and full CRUD. Each exam has both harder (black) and easier (red) versions, and is given three times before failure. I achieved three 'black-belts' each at the first opportunity.</p>
      </div>
      <div class='row mt-4'>
        <h4 class='col-12 text-center boldify'>Washington State University</h4>
        <p class='col-6 col-sm-4 offset-sm-2 text-left'>BA Political Science</p>
        <p class='col-6 col-sm-4 text-right'>3.66 GPA</p>
        <p><span class='boldify'>Although</span> I took an unrelated degree, during my time at Washington State University I acquired a number of skills in addition to a general mental improvement. Most notably the ability to balance a myriad of responsibilities simultaneously (full courseload, twenty hours of work per week, VP of Pre-Law Society and PR chair for my fraternity). I also became much better at intelligently planning large scale projects, working in groups, and learning how to learn.</p><br>
        <p><span class='boldify'>Some courses were related </span> however, including Intro to Logic, Calculus, and *Intro to Computer Science and Programming</p>
      </div>
    </div>
    <div class='col-10 offset-1 mt-3 col-md-1' id='allStacks'>
      <div class='row'>
        <div class='stackHolder col-4 col-md-12' id='pythonStack'>
          <h5>DJANGO</h5>
          <img src='../../assets/images/pythonLogo.png'>
          <img src='../../assets/images/sqlliteLogo.png'>
          <img src='../../assets/images/djangoLogo.png'>
          <img src='../../assets/images/djangoBelt.png'>
        </div>
        <div class='stackHolder col-4 col-md-12' id='MEANStack'>
          <h5>MEAN</h5>
          <img src='../../assets/images/angularLogo.png'>
          <img src='../../assets/images/mongoLogo.png'>
          <img src='../../assets/images/nodeLogo.png'>
          <img src='../../assets/images/MEANbelt.png'>
        </div>
        <div class='stackHolder col-4 col-md-12' id='aspNetStack'>
          <h5>ASP.NET</h5>
          <img src='../../assets/images/csharpLogo.png'>
          <img src="../../assets/images/aspnetLogo.png">
          <img src='../../assets/images/postgresLogo.png'>
          <img src='../../assets/images/aspnetBelt.png'>
        </div>
      </div>
    </div>
    <div class='col-10 offset-1 offset-md-0 col-md-1' id='additionalHolder'>
      <div class='row'>
        <div class='col-12 text-center'>
          <h5>ADD'TL</h5>
          <img src='../../assets/images/htmlLogo.png'>
          <img src='../../assets/images/cssLogo.png'>
          <img src='../../assets/images/bootstrapLogo.png'>
          <img src="../../assets/images/githubLogo.png">
          <img src='../../assets/images/ajaxLogo.png'>
          <img src='../../assets/images/socketsLogo.png'>          
          <img src='../../assets/images/lessLogo.png'>
        </div>
      </div>
    </div>
  </div>
  <div class='spacerDiv'></div>
  <h2 id='draftChatHead' class='mt-5 mb-5'>Project 1: Draft Chat</h2>
  <div class='row mt-4 projectRow'>
    <div class='col-md-6 offset-md-1 mt-3 text-center'>
      <img src='../../assets/images/projects/DCFirstView.png' class='WBox'>
      <img src='../../assets/images/downArrow.png' id='downArrow'>
      <img src='../../assets/images/projects/DCendGame.png' class='WBox'>
    </div>
    <div class='col-md-4 mt-3'>
      <h4 class='boldify text-center'>C# on ASP.NET Core</h4>
      <p><span class='boldify'>This application </span> allows several users across different computers to simulate a fantasy football draft in real time, using sockets, AJAX, complex DOM manipulation and real data. 
      <p><span class='boldify'>Sockets: </span>In order to have a great user experience that felt quick and intense, we used SignalR. This allows developers to create a 'hub' which keeps a persistant channel open between users, allowing live chat, instant updates and zero-delay turn switching.</p>
      <p><span class='boldify'>AJAX: </span>In building a one page application; we used AJAX for many of the functions on the page, in some cases querying the database for information and updating only one component on the players screen, in some cases triggering turn-end and updating everyone via AJAX+Sockets.</p>
      <p><span class='boldify'>Complex DOM Manipulation: </span>in order to reduce lag time and database use, we used custom front end code to allow users to sort the table - forward and reverse - by age, name, rank, etc. Being Merge Sort, this ran quickly with all 572 players in the db.</p>
    </div>
  </div>
  <div class='spacerDiv'></div>
  <h2 id='userDashHead' class='mt-5'>Project 2: User DashBoard</h2>
  <div class='row mt-4 projectRow'>
    <div class='col-md-6 mt-3 offset-md-1 text-center'>
      <div class='row'>
        <img src='../../assets/images/projects/UDBadReg.png' height="100%" class='WBox col-8 offset-2 col-sm-6 offset-sm-3'>
      </div>
      <img src='../../assets/images/downArrow.png' id='downArrow'>
      <img src='../../assets/images/projects/UDAdminDash.png' class='WBox'>
    </div>
    <div class='col-md-4 mt-3'>
      <h4 class='boldify text-center'>Python on Django</h4>
      <p><span class='boldify'>This application </span> is a classic but well-built exercise in SQL relationships, user management and access. It allows many users to edit their profiles, leave messages, and comment on messages, it also implements user levels! 
      <p><span class='boldify'>SQL elements: </span>The three models of this application are Users, Messages, and comments. Users have information such as pass-hash, email, name, and description. Each user has a wall upon which messages can be left by themselves or others, then other users can leave comments on these messages. Users can delete only their own messages</p>
      <p><span class='boldify'>Extras: </span>Users build their basic profile upon signing in, then have the option to add their own description. User levels are implemented - Admins can edit and delete other users, whereas level 1 users cannot. Only level 9 admins can elevate other users' levels. Passwords are kept secure with BCrypt. Back end validation exist for all aspects (using session) and users can log in and out.</p>
    </div>
  </div>
  <div class='spacerDiv'></div>
</div>