img {
    height: 130px;
}

#container{
    height: 100%;
    display: flex;
    flex-flow: column;
    overflow: hidden;
    justify-content: space-between;
}

.flexEdge {
    width: 100%;
    height: 7%;
    position: relative;
    z-index: 5;
    flex-flow: row;
    justify-content: space-between;
}

.clicker{
    width: 390px;
    background-color: #e5e5e5;
}
.infoTag{
    color: #2e3131;
    width: 350px;
    height: 125px;
    position: absolute;
    margin-left: 20px;
    background-color: rgba(240, 240, 240, 1);
    font-size: 11pt;
    cursor: pointer;
}
.upperTag{
    border-radius: 0px 0px 42px 42px;
}
.lowerTag{
    border-radius: 42px 42px 0px 0px;
}
.infoText{
    line-height: .95;
    vertical-align: bottom;
}
.infoImg{
    height: 28px;
    width: 28px;
    margin-left: 20px;
    margin: 0 auto;
}
.infoHead{
    font-size: 22pt;
    font-weight: 100;
    font-family: 'Raleway', sans-serif;
}
.infoTop{
    margin-top: 14px;
    bottom: 0px !important;
    margin-bottom: 0px;
}
.infoBottom{
    margin-bottom: 16px;
    top: 6px;

}
.infoLogo{
    width: 28px;
    height: 28px;
}


.searchBar{
    background-color: #e5e5e5;
    position: relative;
    flex: 2 1 auto;
}
#contentRow{
    background-color: #ececec;
    z-index: 0;
    width: 100%;
    overflow: hidden;
    height: 100%;
}
.quickSort{
    background-color: #e5e5e5;
    flex: 2 1 auto;
}


#custom-search-input{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 3px;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 6px;
    background-color: #e5e5e5;
}
.active-cyan-4{
    min-width: 356px;
}
.active-cyan-4 input[type=text]:focus:not([readonly]) {
    border: 1px solid #9ec5ff;
    box-shadow: 0 0 0 1px #9ec5ff;
    width: 280px;
    top: 8px;
}
.active-cyan-4 input[type=text] {
    width: 280px;
    top: 8px;
}
.searchBarIcon{
    width: 22px;
    margin: 8px;
    height: 25px;
    cursor: pointer;
    background-size: contain;
    -webkit-filter: drop-shadow(3px 2px 1px #aaa);
    filter:         drop-shadow(3px 2px 1px #aaa);
}
.searchBarIcon:hover {
    -webkit-filter: drop-shadow(2px 1px 1px #aaa);
    filter:         drop-shadow(2px 1px 1px #aaa);
}

#searchDiv{
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 25px;
    max-height: 175px;
    z-index: 6;
    top: 9%;
    justify-content: center;
}
.searchSpacer{
    width: 100px;
}
#searchSuggestHolder{
    position: absolute;
    top: 100%;
    left: 60px;
    width: 280px;
    z-index: 6;
}
.searchSuggest{
    background-color: #e5e5e5;
    cursor: pointer;
}
ul{
    list-style: none;
    padding-left: 0;
}
.searchSuggest:hover {
    background-color: #cee2ff !important;
}
#searchOutcome{
    width: 280px;
    min-height: 25px;
    max-height: 175px;
    border-radius: 5px;
    z-index: 21;
    background-color: #e5e5e5;
}