#djikstraCont{
    position: relative;
}

canvas {
    background-image: radial-gradient(circle, #031d47, #02132c, #010a18);
    background-color: #001536;
    box-shadow: inset 2px 7px 4px #000000;
}
#option{
    background-color: #eeeeee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    border-radius: 50%;
    box-shadow: 4px 7px 6px #000000;
    width: 200px;
    height: 200px;
}

.srndSingle{
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    /* font-weight: bold; */
    color: rgb(102, 56, 13);
}
#aesthetic{
    font-size: 17pt;
    color: #d54bd3;
    text-shadow: 1px 3px 0px #01eec1;
    font-family: Impact, 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
    letter-spacing: 7px;
}